        body {
            background-color: rgb(239, 246, 244);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: black;
            margin-top: 70px;
            margin-bottom: 100px;
            margin-right: 50px;
            margin-left: 100px;
        }

        p {
            text-align: left;
        }

        #namareporter {
            font-weight: bold;
            font-size: xx-small;
        }

        .publis {
            font-size: xx-small;
            text-align: center;
        }

        a:link {
            text-decoration: none;
            color: blue;
        }

        a:hover {
            text-decoration: underline;
            color: purple;
            font-size: large;
        }

        a:visited {
            text-decoration: none;
            color: blue;
        }

        .agakmasuk{
            margin-left: 20 px;
        }